menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:focus:not(:focus-visible) {
  outline: 0;
}
:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}
.splide__pagination .splide__pagination__page.is-active {
  background-color: #272727;
}
